*.tap
*~
*.o
all-tests
simple-prog
*.dSYM
*.ngc
*#
*.gca_deps
compile_commands.json
*.bmp
bmp-prog
print-strap
gdiff
z-abstract
hole-optimizer
simple-deepen
hello-world
curved-strap-assembly.16x.h=.2.tap-generalized
CMakeCache.txt
CMakeFiles/*
cmake_install.cmake
TriangulateTerrainMap.app/*