*next-file*
*.tap
*~
*.o
*.a
all-tests
simple-prog
*.dSYM
*.ngc
*#
*.gca_deps
compile_commands.json
*.bmp
bmp-prog
print-strap
gdiff
z-abstract
hole-optimizer
simple-deepen
hello-world
extract-g1-paths
print-knife-hacks
print-dxf
curved-strap-assembly.16x.h=.2.tap-generalized
CMakeCache.txt
CMakeFiles/*
cmake_install.cmake
TriangulateTerrainMap.app/*
DataAnimationSubclass.app/*
12-inch-spiral.DXF
12-inch-spiral.nc
pen-draw-lines
.DS_Store
cut-rect
misc
analyze-gcodes
feedrate_histogram.txt
spindle_histogram.txt
.cproject
.project
dummy-test
stl-parse
tool-simulator.app/
face-graph
AddCell.app/*
cut-box
*.json
json-mesh
json-plan
surface-test.app/*
ublas
plate-cutter
.idea/*
feature-decomp
examples/useless.cpp
non_simple_poly.txt
src/utils/selection.h
src/geometry/octree.h
test/stl-files/BoxMesh.stl
test/stl-files/ShortPill.stl
test/stl-files/VerticalDiagonals.stl
scale-down-mesh
vtk-mass
check-contours
test/stl-files/hard_onshape_parts/
*.nc
*.jpg
engraving
camaster-test
debug-test
nef-test
tri-test
manufacture
*.txt
/test/stl-files/1InchCircleWith2NestedThruHoles.stl
backend-tests
blog.cpp
examples/dead.cpp
interact-test.app/*
master_caching_nef_diff
test/stl-files/onshape_parts/Part Studio 1 - Part 1(37).stl
all_tests_reduced_direction_selection
bmp-prog.app/*
manufacture-tests
manufacture_with_vice_zeroing
non-manufacture-tests
parse-iges